body{
    margin: 0 auto;
}

/* img{
    box-sizing: border-box;
    width: 10%;
    height: 10%;
    background-color: black;
} */

.header{
    text-align: center;
    color: whitesmoke;
    background-color: black;
    padding: .5rem;
}
